.home-page{
height: 87hv;
display: flex;
align-items: center;
justify-content: center;
width: 50%;
margin: 0 auto;
text-align: center;
}
.login-message{
    display: flex;
    flex-direction: column;
}
.login-message> h2{
    font-size: 80px;
    margin: 0;
}
.login-message > h1 {
    font-size: 100px;
    width: 80%;
    line-height: 1rem;
    margin: 10px auto;
    margin-top: 0;
    
}